[submodule "phrame/core"]
	path = phrame/core
	url = git@github.com:PhrameFramework/core.git
[submodule "phrame/activerecord"]
	path = phrame/activerecord
	url = git@github.com:PhrameFramework/activerecord.git
[submodule "phrame/codeception"]
	path = phrame/codeception
	url = git@github.com:PhrameFramework/codeception.git
[submodule "phrame/profiler"]
	path = phrame/profiler
	url = git@github.com:PhrameFramework/profiler.git
